

#doosje{
    background-color: lightgray;
    width: 350px;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    margin:auto;
}
#dozen{
    display: flex;
    flex-wrap:wrap;
    padding-top: 5%;
    padding-left: 9%;
    padding-right: 9%;

}
#informatie{
    padding: 5px;
}

#header{
    background-color: lightgray;
    padding: 1%;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none;
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 30%;
}

a{
    padding: 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5%;
}

a:hover{
    background-color: rgb(161, 160, 160);
}

#foto{
    border: 1px solid black;
    border-radius: 5%;
    width: 150px;
    height: 150px;
    margin-bottom: 5%;
}
.projectdoos {
    background-color: lightgray;
    width: 450px;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    margin: auto;
}

.projectdoos img {
    width: 450px;
    height: 300px;
}

#projecten {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
#blog{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-left: 14%;
    padding-right: 14%;

}
#blogdoos{
    margin:auto;
    background-color: lightgray;
    width: 50%;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    padding:5%;
}

#contactform{
    background-color: lightgray;
    width: 25%;
    padding: 3%;
    margin:auto;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 5%;
}